# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.abi
*.bin
/cmd/issueToken/issueToken

# IDEs
/.idea

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
